.header {
  display: flex;
  padding: 28px 0;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;

  &__email {
    display: flex;

    .material-symbols-outlined {
      margin-right: 5px;
    }
  }

  &__other {
    display: flex;
    align-items: flex-end;
  }

  &__account {
    display: flex;

    .login {
      text-transform: uppercase;
      margin-right: 10px;
    }

    .my-account {
      text-transform: uppercase;
    }

    margin-right: 10px;
  }
}